body.testwerk-body {
    background: #000;
    box-sizing: border-box;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h2.testwerk-class-head {
    margin-bottom: 10px;
    margin-top: 25px;
}

hr.testwerk-ruler {
    margin-bottom: 7px;
    margin-top: 7px;
}

table.testwerk-table, .testwerk-table td, .testwerk-table th {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
}

.testwerk-table td {
    padding: 5px;
    vertical-align: top;
}

td.testwerk-function-data-error {
    min-width: 500px;
}

td.testwerk-function-data-executiontime {
    min-width: 90px;
}

td.testwerk-function-data-name {
    min-width: 340px;
}

.testwerk-error-stack {
    background: #333;
    border: none;
    color: #ccc;
    resize: none;
}

.testwerk-error-message {
    font-weight: 700;
}